/* Post 영역 */
.post {
  background: #1a1919;
  margin: 20px 0; /* Post 간 간격 줄이기 */

  border-radius: 15px; /* 모서리 둥글게 */
  text-align: left; /* 제목과 텍스트 왼쪽 정렬 */
  width: 100%; /* 전체 너비 */
  max-width: 700px; /* 최대 너비 줄이기 */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* 이미지 스타일링 */
.post img {
  width: 100%; /* 이미지 너비를 100%로 설정하여 공간에 맞게 확장 */
  height: 350px; /* 이미지 높이 */
  object-fit: cover; /* 이미지를 비율에 맞게 자르기 */
  border-radius: 10px 10px 0 0; /* 위쪽 모서리만 둥글게 설정 */ 
  margin-bottom: 20px; /* 이미지와 제목 간 여백 */
}

/* 제목 스타일링 */
.post h2 {
  padding-left: 24px;
  margin-bottom: 20px;
  font-size: 1.2rem; /* 제목 폰트 크기 */
  color: rgb(231, 222, 222);
  font-weight: bold; /* 제목을 굵게 설정 */
  margin-top: 10px; /* 제목과 이미지 간격 */
  text-align: left; /* 왼쪽 정렬 유지 */
}

@media (max-width: 768px) {
  .post img {
    height: 200px;
  }
}
